@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Luxurious+Roman&family=Mochiy+Pop+P+One&family=Neonderthaw&family=Roboto:wght@100&display=swap');

.list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  font-size: xx-large;
    font-family: 'Dongle', sans-serif;
    font-style: italic;
    text-align: center;

}




h1{
    color:#227fdc;
    font-style: italic;
    text-align:center;
    font-family: 'Luxurious Roman', cursive;
   

}

.forcriminal{
    font-size: xx-large;
    text-align: center;
    font-family: 'Dongle', sans-serif;
    font-weight: bolder;
    color: aliceblue;
}
.forlaw{
    font-size: xx-large;
    text-align: center;
    font-family: 'Dongle', sans-serif;
    font-weight: bolder;
    color: rgb(10, 10, 10);
}
.forlist{
    text-align:center;
  list-style-type:none ;
  font-family: 'Dongle', sans-serif;
  font-size: xx-large;
}
li{
    text-align:center;
    list-style-type:none ;
    font-family: 'Dongle', sans-serif;
    font-size: xx-large;
  
}

@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Luxurious+Roman&family=Mochiy+Pop+P+One&family=Neonderthaw&family=Roboto:wght@100&display=swap');
ol{
    font-family: 'Dongle', sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    font-style: italic;


}
h1{
    font-family: 'Dongle', sans-serif;
    font-size: 500%;
    text-align: center;
}

.list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  font-size: xx-large;
    font-family: 'Dongle', sans-serif;
    font-style: italic;
    text-align: center;

}

h1{
    font-size: 300%;
    text-align: center;
    font-family: 'Dongle', sans-serif;
}
.lists{
    text-align: center;
    color: rgb(211, 56, 56);
    font-family: 'Dongle', sans-serif;
    font-size: 100%;
    list-style: none;
}

.list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  font-size: xx-large;
    font-family: 'Dongle', sans-serif;
    font-style: italic;
    text-align: center;

}
.forcriminalhead{
 
    float: right;
  
    
}
.jar{
    border: right 100px solid rgb(0, 0, 0) ;
    height: 100%;
    margin-left: 50%;
    
}
